<style>
    #navbar{height: 50px;width: 100%;background-color: #009688;color:white;}
    a{text-decoration: none; }
   nav li{list-style: none;display: inline-block; font-size: 25px;padding-left: 10px; margin-top: 5px;}
</style>
	<nav id="navbar">
		<li><a href="/" style="text-decoration: none;color:white">Home</a> </li>
		<li><a href="/Login" style="text-decoration: none;color:white">Login</a> </li>
		<li style="color:white"><a href="/Signup" style="text-decoration: none;color:white">Signup</a> </li>
	</nav>


